.oui-toast {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5000;
    bottom: 10%;
    margin: 2.25pt;
    left: 50%;
    transform: translate(-50%, -10%);
    background: var(--alt-surface-background);
    border: 1px solid var(--text-color);
    border-radius: 2em;
}

.oui-toast-text {
    text-align: center;
    color: var(--white);
}