@import "@/assets/oneui/oui.css";
@import "@/assets/css/core.css";
@import "@/assets/css/editor-core.css";

:root {
    --transition: .5s;
    --transition-fast: .2s;
    --transition-slow: .8s;
    --border-radius-low: 8px;
    --border-radius: 10px;
    --border-radius-high: 24px;
    background: var(--background);
}

body {
    overflow: auto;
    scroll-behavior: smooth;
    color: var(--text);
    scrollbar-width: none;
}

svg {
    color: var(--text) !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}

.dev {
    outline-offset: -2px;
}

.dev:nth-of-type(odd) {
    outline: 2px solid red !important;
}

.dev:nth-of-type(even) {
    outline: 2px solid blueviolet !important;
}

span:is(:active, :focus),
a:is(:active, :focus),
a:not([target=_blank]),
.route:is(:active, .active, :focus),
.route {
    text-decoration: none;
    color: var(--text);
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
}

:not(input, textarea, .selectable, [contentEditable]) {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    outline-color: transparent !important;
}

.selectable,
[contentEditable],
.selectable *,
[contentEditable] * {
    user-select: auto !important;
    -moz-user-select: auto !important;
    -webkit-user-select: auto !important;
    -ms-user-select: text !important;
    -webkit-touch-callout: auto !important;
}

.popleft-enter-active,
.popleft-leave-active,
.pop-enter-active,
.pop-leave-active,
.page-enter-active,
.page-leave-active {
    transition: all .1s;
}

.pop-enter-from,
.pop-leave-to,
.page-enter-from,
.page-leave-to {
    opacity: 0;
    transform: translateY(50%);
}

.popleft-enter-from,
.popleft-leave-to {
    opacity: 0;
    transform: translateX(-100%);
}

.opacity-enter-active,
.opacity-leave-active {
    transition: all var(--transition-fast);
}

.opacity-enter-from,
.opacity-leave-to {
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in 0.5s;
}

.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pointer {
    cursor: pointer;
}

.square {
    aspect-ratio: 1 / 1;
}

.scroll-snap-x {
    scroll-snap-type: x mandatory;
}

.scroll-snap-y {
    scroll-snap-type: y mandatory;
}

.scroll-snap-x>*,
.scroll-snap-y>* {
    scroll-snap-align: start;
}

[class^='icon-']:is(a, button) {
    background-color: transparent;
    border: none;
}

[class^='icon-'] {
    color: var(--text) !important;
    display: inline-block;
    height: 1em;
    width: 1em;
    font-size: 2.5rem;
    background-repeat: no-repeat;
    margin: 0 calc(var(--universal-margin) / 4);
    pointer-events: stroke;
    border-radius: 50%;
    background-size: 50%;
    background-position: center;
    -webkit-tap-highlight-color: transparent;
}

[class^='icon-'].full {
    background-size: 70%;
}

[class^='icon-']:is(:active, :focus-within):not(.no-active-bg) {
    background-color: var(--icon-active);
    opacity: .8;
}

[class^='icon-'].secondary {
    -webkit-filter: invert(25%);
    filter: invert(25%)
}

[class^='icon-'].inverse {
    -webkit-filter: invert(100%);
    filter: invert(100%)
}

[class^='icon-'].smaller {
    font-size: 1rem;
}

[class^='icon-'].small {
    font-size: 1.5rem;
}

[class^='icon-'].medium {
    font-size: 3rem;
}

[class^='icon-'].large {
    font-size: 5rem;
}

[data-loading] {
    background-image: url("/icons/loader.svg")
}

hr {
    border: none;
    border-top: 1px dashed var(--border-color);
}

[class^='icon-'].grey {
    filter: invert(61%) sepia(10%) saturate(21%) hue-rotate(316deg) brightness(85%) contrast(82%);
}

.selected [class^='icon-'],
[class^='icon-'].orange {
    /* filter: hue-rotate(30deg) saturate(1.5) !important; */
    filter: invert(73%) sepia(62%) saturate(7298%) hue-rotate(358deg) brightness(99%) contrast(93%);
}

[class^='icon-'].yellow {
    filter: invert(72%) sepia(94%) saturate(1296%) hue-rotate(359deg) brightness(104%) contrast(104%);
}

.bg-transparent {
    background-color: transparent;
}

.bg-back {
    background-color: var(--background);
}

.bg-control {
    background-color: var(--control-background);
}

.bg-textual {
    background-color: var(--textual-background);
}

.bg-surface {
    background-color: var(--surface-background);
}

.bg-alt-surface {
    background-color: var(--alt-surface-background);
}

.transition {
    transition: var(--transition) !important;
}

.transition-fast {
    transition: var(--transition-fast) !important;
}

.transition-slow {
    transition: var(--transition-slow) !important;
}